.translationpage-content {
  height: 100vh;
  margin-left: 15%;
  position: relative;
  margin-top: 50px;
}

.translationpage-top-bar {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn-group {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-group button {
  background-color: none;
  border: 2px solid white;
  padding: 5px 10px;
  border-radius: 0;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon {
  fill: white !important;
  padding-right: 8px;
  height: 25px;
}


.select-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.translate-button :hover {
  cursor: pointer;
  opacity: 50%;
}

.textArea {
  width: 100%;
  height: 150px;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 5px;
}

.textArea:focus {
  border-color: #007bff;
  outline: none;
}

/* General styles for the select element */
.select {
  appearance: none; /* Remove default browser styles */
  background-color: white; /* Background color */
  border: 1px solid #ccc; /* Border styling */
  padding: 8px 30px 8px 10px; /* Padding with space for icon */
  font-size: 14px; /* Font size */
  border-radius: 4px; /* Rounded corners */
  width: 100%; /* Full width */
  height: 40px; /* Height of select */
  position: relative; /* Position relative for absolute positioning of icon */
  cursor: pointer; /* Pointer cursor */
}

.translate{
  margin-top: 10px;
  width: 100%;
}

.copy-button, .clear-button{
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: transparent;
}

.arrows{
  align-self: center;
  background: none;
  border: none;
  padding: 0 0.5rem;
  cursor: pointer;
}

.translation-textarea{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: stretch;
}

.detect-language, .select-language {
  border-radius: 5px;
  padding: 8px 8px;
}

.translation-textarea-left, .translation-textarea-right {
  width: 50%
} 

.custom-language{
  padding: 8px;
  border-radius: 5px;
}

.translated-language{
  display: flex;
  gap: 40px;
}

.detect-language-btns{
  display: flex;
  margin-bottom: 5px;
  margin-right: 5px;
}

#left-side,
#right-side {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}