.chat-box {
    max-height: 100%;
    overflow-y: auto;
    margin-top: 190px;
}
  
.message-bubble {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 20px;
    word-break: break-word;
}

.welcome{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0px
}

.cards{
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4;
}

.card-text{
    font-size: 20px;
    font-weight: bold;
}

.card{
    background-color: grey;
    width: 288px;
    margin: 5px;
}

.textbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.inputbox {
    display: block;
    width: 60%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 50rem; 
    margin-right: 0.5rem;
}